# System and IDE files
.DS_Store
.idea/

# Python artifacts
__pycache__/
scr/__pycache__/
datasets/__pycache__/

# Data files to ignore
datasets/ccle.txt
datasets/tcga_*.txt
datasets/combined_gdsc.csv
datasets/CCLE_RNAseq_rsem_genes_tpm_20180929.txt.gz
datasets/gencode.v19.annotation.gtf.gz
datasets/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct.gz
datasets/EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2.geneExp.tsv
datasets/GDSC1_fitted_dose_response_27Oct23.xlsx
datasets/GDSC2_fitted_dose_response_27Oct23.xlsx

# Datasets from OG folder
datasets_OG/GDSC1_fitted_dose_response_17Jul19.csv
datasets_OG/GDSC2_fitted_dose_response_15Oct19.csv

# Output directories
GENE_EXPR_DIR/
IC50_DIR/
results/
gene_expression_matrices/
drug_id_vectors/

# Python/Conda environment files
.python-version